
#container {
  min-height: 100vh;
  background-color: #f6d365;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
              url('/images/main.png') no-repeat center/cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
