/* Chống đối màu nền input khi autofill (Chrome) */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #222 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}
/* src/components/LoginForm.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
                url('/images/login.png') no-repeat center/cover;
}

#container-loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    flex-grow: 1;
    padding: 30px 30px 40px;
    box-shadow: 2px 2px 20px 4px rgba(255,255,255, 0.3);
    background: rgba(0,0,0,0.6);
}

.container-loginForm__heading {
    font-size: 25px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

.container-loginForm__submit {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px 5px;
}

input {
    padding: 15px 10px 0;
}

#container-loginForm__username,
#container-loginForm__password {
    text-align: left;
    color: white;
    padding: 10px;
    line-height: 1.5;
    height: 40px;
    vertical-align: middle;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
}
